div {
  height: 0.5rem;
  width: 8rem;
  background-color: black;
  margin: 15rem auto;

  animation: 1s rotate linear infinite;
}

.left {
  transform-origin: left;
}

.right {
  transform-origin: right;
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}
